<nav class="navbar navbar-expand-lg navbar-dark bg-dark playbook-title">
  <h1>The Playbook</h1>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark playbook-nav">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allgames">Games</a>
        </li>
    </div>
  </div>
</nav>
<div class="container-lg">
  <div class="row">
    
    <div class="col-sm-12 col-md-9 order-md-1">
      <h3>Forum</h3>
      <div class="pagebox">
        <dl>
          {{#each comments}}
          <dt>{{this.userName}} - <a href="/games/{{this.gameId}}">{{this.gameName}}</a></dt>
          <dd>{{this.comment}}</dd>
          {{/each}}
        </dl>
      </div>
      <h3>Top Games</h3>
      <div class="pagebox">
        <dl>
          {{#each games}}
          <dt><a href="/games/{{this.gameId}}">{{this.gameName}}</a></dt>
          {{/each}}
        </dl>
      </div>
    </div>
  </div>
</div>
